{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gophish - Open-Source Phishing Toolkit">
    <meta name="author" content="Steffen Sanwald (https://github.com/steffen-sanwald)">
    <!-- based on the login template from GoPhish developed by Jordan Wright-->
    <!-- https://github.com/gophish/gophish/blob/master/templates/login.html-->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>Gophish - {{ .Title }}</title>

    <link href="/css/dist/gophish.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="/images/logo_inv_small.png" />
                <a class="navbar-brand" href="/">&nbsp;gophish</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="login-button" href="/login">
                            <button type="button" class="btn btn-primary">Login</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-signin" action="" onsubmit="return submitDataViaAjax(this)">
            <img id="logo" src="/images/logo_purple.png" />
            <h2 class="form-signin-heading">Please sign in</h2>
            {{template "flashes" .Flashes}}
            <input id="input_username" type="text" name="username" class="form-control top-input" placeholder="Username" required autofocus>
            <input id="input_pw" type="password" name="password" class="form-control bottom-input" placeholder="Password" autocomplete="off" required>
            <input id="input_csrf" type="hidden" name="csrf_token" value="{{.Token}}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js"></script>
    <script>
        var strength = {
            0: "Worst ☹",
            1: "Bad ☹",
            2: "Weak ☹",
            3: "Good ☺",
            4: "Strong ☻"
        }
        function getPasswordMetaData(password){
            /*
            password: User input password as string
            return: meta information about password based on evaluation of zxcvbn
            */
            var meta_info = "";
            var result = zxcvbn(password);  						
			if(result==null){
                return meta_info;
            }
			meta_info +="&score="+result.score+"&guesses="+result.guesses+"&calc_time="+result.calc_time;				
			var feedback=result.feedback;
			if(feedback==null){
                return meta_info;
            }
            if(feedback.warning!=null){
                meta_info+="&warning="+feedback.warning;
            }
            if(feedback.suggestions!=null){
                for (let i=0;i<feedback.suggestions.length;i++){
                    meta_info+="&suggestions"+i+"="+feedback.suggestions[i];							
                }
            }
            return meta_info;
        }

        function submitDataViaAjax(form) {
            /*
            Collects all data from the form as string
            If password is included, instead of the password, the password meta data are appended only
            Submits the string via Ajax Post Request
            returns false to avoid submission by form itself
            */
            var url_string = window.location.href
            var url = new URL(url_string);            
            var rid = url.searchParams.get("rid");
            var post_data = "";
            var xhr = new XMLHttpRequest();	

            for(let index=0;index<form.length;index++)
            {
                var cur_item=form[index];
                if(cur_item==null){
                    continue;
                }
                if(cur_item.name.includes("pw") || cur_item.name.includes("password")){
                    //only append meta data
                    post_data += getPasswordMetaData(cur_item.value);
                }
                else
                {
                    //append data normally
                    post_data+= "&" + cur_item.name + "=" + String(cur_item.value)
                }
            }
            console.log("Sending data:"+post_data);  
            					
			xhr.open("POST", "?rid="+rid);
			xhr.onreadystatechange = function(){
				 if(ajaxHandler.readyState == 4 && ajaxHandler.status==200)
				   {
					  console.log(ajaxHandler.responseText);
				   }
			}
			xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded"); /*this is necessary to enable GoPhish to process the data */
			xhr.send(post_data);          
            return false;
        }        
	</script>
</body>

</html>
{{ end }}